/* Styles for HTML DOM Events */

h1 {
    color: blue;
  }
  
  h2 {
    color: green;
  }
  
  button {
    background-color: yellow;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  div {
    margin: 20px auto;
    padding: 10px;
    width: 60%;
    background-color: #eee;
  }
  
  p {
    font-size: 18px;
    margin: 10px;
    text-align: left;
  }
  